<div class='user-information'>
  <img src='<%= user.escape('profile_image_url') %>'>
  <h1 class='user-username'>
    <a href='<%= user.escape('url') %>'><%= user.escape('username') %></a>
  </h1>
</div>

<ul class='user-tweets'>
  <% if (user.tweets().length) { %>
    <h2 class='center'>Recent Tweets</h2>
    <% user.tweets().each(function (tweet) { %>
      <a href='<%= tweet.escape('url') %>'>
        <li class='user-tweet'>
          <div class='tweet-text'>
            <%= tweet.escape('full_text') %>
          </div>
          <div class='tweet-info'>
            <%= tweet.escape('tweeted_at') %>
          </div>
        </li>
      </a>
    <% }); %>
  <% }; %>
</ul>